header
  nav
    .nav__container
      ul.nav__items
        li.nav__item
          a.nav__link(href="/") Úvod
        li.nav__item
          a.nav__link(href="onas/") O nás
        li.nav__item
          a.nav__link(href="stanovy/") Stanovy
  .banner
    .banner__logo
      h1 Terra Carphatica
  //- .header__greenStripe
  
  
