section
  #news__container.news__container
    h2.news__title  Aktuality
    {% for news in site.categories.news limit:8 %}
    .news__itemContainer(class="{{.news.class}}")
      img.news__image(src= "assets/img/{{news.imgIndex}}" alt="{{news.alt}}")      
      a.news__contentContainer(href= "{{news.url}}")
        h3.news__itemTitle {{ news.title }} 
        h4.news_itemDate {{ news.date | date: "%d/%m/%Y"}}
        p.news__itemContent {{ news.excerpt_separator }}
      a.btn.news__itemBtn(href= "{{news.url}}") Čítať ďalej   
    {% endfor %}

    .news__btnContainer
      a.btn.news__allNews(href="../aktuality/") Všetky aktuality
      
    
