a
  display: block
  text-decoration: none

  transition: color 0.2s ease
  &:hover,
  &:active,
  &:focus
    outline: none



img
  display: block
  width: 100%

:root
  font-family: sans-serif
  font-size: 12px
