//colors

$basicColor: lighten(#556B2F, 20%)
$basicColor: #556B2F
$basicColor: lighten(lightgrey, 10%)
$headerColor: white
$backgroundColor: white
//$backgroundColor: lighten(#556B2F, 25%)
$titleColor: lighten(black, 5%)
$textColor: grey
$linksColor: grey
$hoverBackground: $textColor
$hoverColor: white
//secondaryColor:
//$accentColor

//$basicTextColor:
//$secondaryTextColor:

//fonts

$sansSerif: sans-serif

$pageWidth: 65%
//$serif:

//media queries

//utilities
