//colors

$basicColor: lighten(#556B2F, 20%)
$basicColor: #556B2F
$basicColor: lighten(lightgrey, 5%)
//$basicColor: lighten(#DBFFBF, 8%)
//$headerColor:  #7B4A12
$headerColor: white
$backgroundColor: darken(white, 2.5%)

//$backgroundColor: lighten(#556B2F, 25%)
$titleColor: lighten(black, 5%)
$textColor: darken(grey, 30%)
$secondTextColor: grey
$linksColor: grey
$hoverBackground: $textColor
//$hoverColor: white
//secondaryColor:
//$accentColor: #ffcb37   //yellow ???
//$hoverColor: #3081B7   // blue
$hoverColor: darken(grey, 10%)
//$hoverColor: #7B4A12
$hoverColor2: white
$box-shadow: 0 0 2px rgba(grey, 0.9)
//$basicTextColor:
//$secondaryTextColor:
$marginMain: 0 4em
$paddingMain: 0 4em
//$marginMain: 0 auto
$green: lighten(#303C14, 7.5%)
//$green: darken(white, 5%)

$aktualityFarba: #f44336
$cinnostFarba: #f44336
$clankyFarba:  #2196f3
$projektyFarba: #4caf50
$projektyFarba: $green
$udalostiFarba:  #795548

$black: lighten(black, 5%)
//maybe colors
//$green: #339966
// $green: $projektyFarba

//$green: $projektyFarba

//fonts

//$sansSerif: 'Lato', sans-serif
$sansSerif: 'Roboto', sans-serif
$serif: 'Lora', serif

//$pageWidth: 65%
$pageWidth: 90%
$pageWidth700: 95%
$pageWidth500: 95%
//$pageWidth: 80%
//$serif:

//media queries


//utilities
