
<div id="js-modal-2" class="l-modal">
  <div class="c-modal">
    <div class="js-imgs c-modal__imgContainer"><img src="../assets/img/indexGalleriesList/galeria4/slide-2.jpeg" alt="slide-1" class="c-modal__img"/>
      <figcaption class="c-modal__figcaption">
        <div class="c-modal__ctrl">
          <div class="js-close c-modal__ctrl-close"> 
            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
              <path>(d="M0 0h24v24H0z", fill="none")</path>
            </svg>
          </div>
          <div class="js-left c-modal_ctrl-left">
            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>
          <div class="js-right c-modal__ctrl-right">
            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
              <path d="M0 0h24v24H0z" fill="none">      </path>
            </svg>
          </div>
        </div>
        <div class="c-modal__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
      </figcaption>
    </div>
    <div class="js-imgs c-modal__imgContainer"><img src="../assets/img/indexGalleriesList/galeria4/slide-3.jpeg" alt="slide-1" class="c-modal__img"/>
      <figcaption class="c-modal__figcaption">
        <div class="c-modal__ctrl">
          <div class="js-close c-modal__ctrl-close"> 
            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
              <path>(d="M0 0h24v24H0z", fill="none")</path>
            </svg>
          </div>
          <div class="js-left c-modal_ctrl-left">
            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>
          <div class="js-right c-modal__ctrl-right">
            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
              <path d="M0 0h24v24H0z" fill="none">      </path>
            </svg>
          </div>
        </div>
        <div class="c-modal__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
      </figcaption>
    </div>
    <div class="js-imgs c-modal__imgContainer"><img src="../assets/img/indexGalleriesList/galeria4/slide-1.jpeg" alt="slide-1" class="c-modal__img"/>
      <figcaption class="c-modal__figcaption">
        <div class="c-modal__ctrl">
          <div class="js-close c-modal__ctrl-close"> 
            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
              <path>(d="M0 0h24v24H0z", fill="none")</path>
            </svg>
          </div>
          <div class="js-left c-modal_ctrl-left">
            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>
          <div class="js-right c-modal__ctrl-right">
            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
              <path d="M0 0h24v24H0z" fill="none">      </path>
            </svg>
          </div>
        </div>
        <div class="c-modal__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
      </figcaption>
    </div>
  </div>
</div>