
<aside class="c-sidebar">
  <div class="c-sidebar__content"><a href="/" class="c-logo">
      <div class="c-logo__svg">
        <h1>Terra Carphatica</h1>
      </div></a>
    <ul class="c-sidebar__nav">
      <li> <a href="../aktuality/" class="c-sidebar__linkMaior">Všetky aktuality</a>
        <ul class="c-sidebar__tags">
          <li><a href="projekty/" class="c-sidebar__linkMinor">Projekty</a></li>
          <li><a href="cinnost/" class="c-sidebar__linkMinor">Činnosť</a></li>
          <li><a href="clanky/" class="c-sidebar__linkMinor">Články</a></li>
          <li><a href="udalosti/" class="c-sidebar__linkMinor">Udalosti</a></li>
          <li><a href="vsetky-tagy/" class="c-sidebar__linkMinor">Všetky tagy</a></li>
        </ul>
      </li>
      <li> <a href="projekty/" class="c-sidebar__linkMaior linkMaior-padding">Zoznam projektov</a></li>
      <li> <a href="aktuality/" class="c-sidebar__linkMaior linkMaior-padding">Fotogalérie</a></li>
      <li> <a href="aktuality/" class="c-sidebar__linkMaior linkMaior-padding">Videogalérie</a></li>
    </ul>
  </div>
</aside>
<div class="c-main"> 
  <header>
    <div class="c-banner banner-gallery"> 
      <nav class="c-nav"> 
        <ul class="c-nav__items">
          <li class="c-nav__item"><a href="/" class="c-nav__link">Úvod</a></li>
          <li class="c-nav__item"><a href="onas/" class="c-nav__link">O nás</a></li>
          <li class="c-nav__item"><a href="stanovy/" class="c-nav__link">Stanovy</a></li>
          <li class="c-nav__item nav-search">
            <div href="stanovy/" class="c-nav__searchIcon">
              <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
              <div class="c-nav__searchForm js-fix-search"> 
                <form>
                  <input type="text" name="searchInput" placeholder="Sem napíšte, čo hladáte"/>
                  <button type="submit">Hladať</button>
                </form>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <section id="js-gallery-1-2" class="l-section l-section-start -bottom">
    <!--h2.section__title Galeria1 -->
    <div class="l-item-2-3 l-flex">
      <figure data-url="1" class="l-item__1-5">
        <div class="galleriesItem__container"><img src="../assets/img/indexGalleriesList/galeria1/thumb-1.jpeg" alt="foto"/>
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">foto1</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <div data-url="1" class="btn-show">Zväčšiť </div>
            </div>
          </figcaption>
        </div>
      </figure>
      <figure data-url="2" class="l-item__1-5">
        <div class="galleriesItem__container"><img src="../assets/img/indexGalleriesList/galeria1/thumb-2.jpeg" alt="foto"/>
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">foto2</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <div data-url="2" class="btn-show">Zväčšiť </div>
            </div>
          </figcaption>
        </div>
      </figure>
      <figure data-url="2" class="l-item__1-5">
        <div class="galleriesItem__container"><img src="../assets/img/indexGalleriesList/galeria1/thumb-3.jpeg" alt="foto"/>
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">foto4</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <div data-url="2" class="btn-show">Zväčšiť </div>
            </div>
          </figcaption>
        </div>
      </figure>
      <figure data-url="4" class="l-item__1-5">
        <div class="galleriesItem__container"><img src="../assets/img/indexGalleriesList/galeria1/thumb-4.jpeg" alt="foto"/>
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">foto3</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <div data-url="4" class="btn-show">Zväčšiť </div>
            </div>
          </figcaption>
        </div>
      </figure>
      <figure data-url="5" class="l-item__1-5">
        <div class="galleriesItem__container"><img src="../assets/img/indexGalleriesList/galeria1/thumb-5.jpeg" alt="foto"/>
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">foto5</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <div data-url="5" class="btn-show">Zväčšiť </div>
            </div>
          </figcaption>
        </div>
      </figure>
      <figure data-url="6" class="l-item__1-5">
        <div class="galleriesItem__container"><img src="../assets/img/indexGalleriesList/galeria1/thumb-6.jpeg" alt="foto"/>
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">fot7</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <div data-url="6" class="btn-show">Zväčšiť </div>
            </div>
          </figcaption>
        </div>
      </figure>
      <figure data-url="7" class="l-item__1-5">
        <div class="galleriesItem__container"><img src="../assets/img/indexGalleriesList/galeria1/thumb-7.jpeg" alt="foto"/>
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">foto3</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <div data-url="7" class="btn-show">Zväčšiť </div>
            </div>
          </figcaption>
        </div>
      </figure>
      <figure data-url="8" class="l-item__1-5">
        <div class="galleriesItem__container"><img src="../assets/img/indexGalleriesList/galeria1/thumb-8.jpeg" alt="foto"/>
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">foto4</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <div data-url="8" class="btn-show">Zväčšiť </div>
            </div>
          </figcaption>
        </div>
      </figure>
      <figure data-url="9" class="l-item__1-5">
        <div class="galleriesItem__container"><img src="../assets/img/indexGalleriesList/galeria1/thumb-9.jpeg" alt="foto"/>
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">foto6</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <div data-url="9" class="btn-show">Zväčšiť </div>
            </div>
          </figcaption>
        </div>
      </figure>
      <figure data-url="10" class="l-item__1-5">
        <div class="galleriesItem__container"><img src="../assets/img/indexGalleriesList/galeria1/thumb-10.jpeg" alt="foto"/>
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">foto2</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <div data-url="10" class="btn-show">Zväčšiť </div>
            </div>
          </figcaption>
        </div>
      </figure>
    </div>
    <div class="l-item-1-3">
      <div class="text__container">
        <h2 class="text__title">Galeria-3</h2>
        <p class="text__unit">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porttitor augue eget augue consequat euismod. Vivamus vel tincidunt velit. Phasellus vehicula ante ac aliquet lobortis. In vulputate consequat nisl, sed facilisis justo finibus sit amet. Vivamus dictum lectus sed eleifend tempor. Praesent bibendum lorem massa, ornare hendrerit erat fermentum gravida.</p>
      </div>
    </div>
  </section>
  <header class="c-banner banner-gallery">       </header>
  <section id="js-gallery-2-1" class="l-section l-section-start -bottom">
    <!--h2.section__title Galeria1 -->
    <div class="l-item-2-3 l-flex">
      <figure data-url="11" class="l-item__1-5">
        <div class="galleriesItem__container"><img src="../assets/img/indexGalleriesList/galeria1/thumb-11.jpeg" alt="foto"/>
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">galleria4</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <div data-url="11" class="btn-show">Zväčšiť </div>
            </div>
          </figcaption>
        </div>
      </figure>
      <figure data-url="11" class="l-item__1-5">
        <div class="galleriesItem__container"><img src="../assets/img/indexGalleriesList/galeria1/thumb-12.jpeg" alt="foto"/>
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">galleria3</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <div data-url="11" class="btn-show">Zväčšiť </div>
            </div>
          </figcaption>
        </div>
      </figure>
      <figure data-url="2" class="l-item__1-5">
        <div class="galleriesItem__container"><img src="../assets/img/indexGalleriesList/galeria1/thumb-3.jpeg" alt="foto"/>
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">foto4</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <div data-url="2" class="btn-show">Zväčšiť </div>
            </div>
          </figcaption>
        </div>
      </figure>
      <figure data-url="4" class="l-item__1-5">
        <div class="galleriesItem__container"><img src="../assets/img/indexGalleriesList/galeria1/thumb-4.jpeg" alt="foto"/>
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">foto3</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <div data-url="4" class="btn-show">Zväčšiť </div>
            </div>
          </figcaption>
        </div>
      </figure>
      <figure data-url="5" class="l-item__1-5">
        <div class="galleriesItem__container"><img src="../assets/img/indexGalleriesList/galeria1/thumb-5.jpeg" alt="foto"/>
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">foto5</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <div data-url="5" class="btn-show">Zväčšiť </div>
            </div>
          </figcaption>
        </div>
      </figure>
      <figure data-url="6" class="l-item__1-5">
        <div class="galleriesItem__container"><img src="../assets/img/indexGalleriesList/galeria1/thumb-6.jpeg" alt="foto"/>
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">fot7</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <div data-url="6" class="btn-show">Zväčšiť </div>
            </div>
          </figcaption>
        </div>
      </figure>
      <figure data-url="7" class="l-item__1-5">
        <div class="galleriesItem__container"><img src="../assets/img/indexGalleriesList/galeria1/thumb-7.jpeg" alt="foto"/>
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">foto3</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <div data-url="7" class="btn-show">Zväčšiť </div>
            </div>
          </figcaption>
        </div>
      </figure>
      <figure data-url="8" class="l-item__1-5">
        <div class="galleriesItem__container"><img src="../assets/img/indexGalleriesList/galeria1/thumb-8.jpeg" alt="foto"/>
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">foto4</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <div data-url="8" class="btn-show">Zväčšiť </div>
            </div>
          </figcaption>
        </div>
      </figure>
      <figure data-url="9" class="l-item__1-5">
        <div class="galleriesItem__container"><img src="../assets/img/indexGalleriesList/galeria1/thumb-9.jpeg" alt="foto"/>
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">foto6</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <div data-url="9" class="btn-show">Zväčšiť </div>
            </div>
          </figcaption>
        </div>
      </figure>
      <figure data-url="10" class="l-item__1-5">
        <div class="galleriesItem__container"><img src="../assets/img/indexGalleriesList/galeria1/thumb-10.jpeg" alt="foto"/>
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">foto2</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <div data-url="10" class="btn-show">Zväčšiť </div>
            </div>
          </figcaption>
        </div>
      </figure>
    </div>
    <div class="l-item-1-3">
      <div class="text__container">
        <p class="text__unit">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porttitor augue eget augue consequat euismod. Vivamus vel tincidunt velit. Phasellus vehicula ante ac aliquet lobortis. In vulputate consequat nisl, sed facilisis justo finibus sit amet. Vivamus dictum lectus sed eleifend tempor. Praesent bibendum lorem massa, ornare hendrerit erat fermentum gravida. Curabitur porta at orci posuere accumsan. Sed eu eros eros.</p>
      </div>
    </div>
  </section>
  <section class="c-banner banner-gallery banner-shadow">   </section>
  <div style="height: 500px; width: 100%; flex: 1"></div>
</div>