
<section>
  <div class="photoGalleries__container">
    <h2 class="news__title"> Fotogalérie</h2>
    <div class="photoGalleries__itemsContainer">
      <figure class="galleriesItem__figure"><img src="assets/img/indexGalleriesList/1.jpeg" alt="foto"/><a href="/galleria1">
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">galleria1</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <p class="galeriesItem__description">popis</p>
            </div>
          </figcaption></a></figure>
      <figure class="galleriesItem__figure"><img src="assets/img/indexGalleriesList/4.jpeg" alt="foto"/><a href="/galleria2">
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">galleria2</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <p class="galeriesItem__description">popis</p>
            </div>
          </figcaption></a></figure>
      <figure class="galleriesItem__figure"><img src="assets/img/indexGalleriesList/8.jpeg" alt="foto"/><a href="/galleria4">
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">galleria4</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <p class="galeriesItem__description">popis</p>
            </div>
          </figcaption></a></figure>
      <figure class="galleriesItem__figure"><img src="assets/img/indexGalleriesList/2.jpeg" alt="foto"/><a href="/galleria4">
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">galleria3</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <p class="galeriesItem__description">popis</p>
            </div>
          </figcaption></a></figure>
      <figure class="galleriesItem__figure"><img src="assets/img/indexGalleriesList/3.jpeg" alt="foto"/><a href="/galleria1">
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">galleria5</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <p class="galeriesItem__description">popis</p>
            </div>
          </figcaption></a></figure>
      <figure class="galleriesItem__figure"><img src="assets/img/indexGalleriesList/5.jpeg" alt="foto"/><a href="/galleria2">
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">galleria7</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <p class="galeriesItem__description">popis</p>
            </div>
          </figcaption></a></figure>
      <figure class="galleriesItem__figure"><img src="assets/img/indexGalleriesList/7.jpeg" alt="foto"/><a href="/galleria4">
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">galleria3</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <p class="galeriesItem__description">popis</p>
            </div>
          </figcaption></a></figure>
      <figure class="galleriesItem__figure"><img src="assets/img/indexGalleriesList/2.jpeg" alt="foto"/><a href="/galleria4">
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">galleria4</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <p class="galeriesItem__description">popis</p>
            </div>
          </figcaption></a></figure>
      <figure class="galleriesItem__figure"><img src="assets/img/indexGalleriesList/1.jpeg" alt="foto"/><a href="/galleria1">
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">galleria6</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <p class="galeriesItem__description">popis</p>
            </div>
          </figcaption></a></figure>
      <figure class="galleriesItem__figure"><img src="assets/img/indexGalleriesList/5.jpeg" alt="foto"/><a href="/galleria2">
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">galleria2</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <p class="galeriesItem__description">popis</p>
            </div>
          </figcaption></a></figure>
      <figure class="galleriesItem__figure"><img src="assets/img/indexGalleriesList/8.jpeg" alt="foto"/><a href="/galleria4">
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">galleria3</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <p class="galeriesItem__description">popis</p>
            </div>
          </figcaption></a></figure>
      <figure class="galleriesItem__figure"><img src="assets/img/indexGalleriesList/7.jpeg" alt="foto"/><a href="/galleria4">
          <figcaption class="galleriesItem__figcaption">
            <div class="galleriesItem_centeringName">
              <h3 class="galleriesItem__name">galleria4</h3>
            </div>
            <div class="galleriesItem_centeringBtn">
              <p class="galeriesItem__description">popis</p>
            </div>
          </figcaption></a></figure>
    </div>
  </div>
</section>