
<section>
  <div class="news__container">
    <h2 class="news__title"> Aktuality</h2>
    <div class="news__itemContainer">
      <h3 class="news__itemTitle">Lorem Ipsum</h3>
      <h4 class="news_itemDate">21.5.2016</h4>
      <p class="news__itemContent">Maecenas vitae varius magna. Sed ac magna bibendum, auctor enim at, blandit nisi. Morbi gravida malesuada dolor, sit amet mattis mi viverra vitae. Mauris vitae tristique magna. Pellentesque viverra posuere ultricies.</p><a href="/" class="btn news__itemBtn">Čítať ďalej</a>
    </div>
    <div class="news__itemContainer">
      <h3 class="news__itemTitle">Lorem Ipsum</h3>
      <h4 class="news_itemDate">21.5.2016</h4>
      <p class="news__itemContent">Maecenas vitae varius magna. Sed ac magna bibendum, auctor enim at, blandit nisi. Morbi gravida malesuada dolor, sit amet mattis mi viverra vitae. Mauris vitae tristique magna. Pellentesque viverra posuere ultricies.</p><a href="/" class="btn news__itemBtn">Čítať ďalej</a>
    </div>
    <div class="news__itemContainer">
      <h3 class="news__itemTitle">Lorem Ipsum</h3>
      <h4 class="news_itemDate">21.5.2016</h4>
      <p class="news__itemContent">Maecenas vitae varius magna. Sed ac magna bibendum, auctor enim at, blandit nisi. Morbi gravida malesuada dolor, sit amet mattis mi viverra vitae. Mauris vitae tristique magna. Pellentesque viverra posuere ultricies.</p><a href="/" class="btn news__itemBtn">Čítať ďalej</a>
    </div>
    <div class="news__itemContainer">
      <h3 class="news__itemTitle">Lorem Ipsum</h3>
      <h4 class="news_itemDate">21.5.2016</h4>
      <p class="news__itemContent">Maecenas vitae varius magna. Sed ac magna bibendum, auctor enim at, blandit nisi. Morbi gravida malesuada dolor, sit amet mattis mi viverra vitae. Mauris vitae tristique magna. Pellentesque viverra posuere ultricies.</p><a href="/" class="btn news__itemBtn">Čítať ďalej</a>
    </div>
    <div class="news__itemContainer">
      <h3 class="news__itemTitle">Lorem Ipsum</h3>
      <h4 class="news_itemDate">21.5.2016</h4>
      <p class="news__itemContent">Maecenas vitae varius magna. Sed ac magna bibendum, auctor enim at, blandit nisi. Morbi gravida malesuada dolor, sit amet mattis mi viverra vitae. Mauris vitae tristique magna. Pellentesque viverra posuere ultricies.</p><a href="/" class="btn news__itemBtn">Čítať ďalej</a>
    </div>
    <div class="news__itemContainer">
      <h3 class="news__itemTitle">Lorem Ipsum</h3>
      <h4 class="news_itemDate">21.5.2016</h4>
      <p class="news__itemContent">Maecenas vitae varius magna. Sed ac magna bibendum, auctor enim at, blandit nisi. Morbi gravida malesuada dolor, sit amet mattis mi viverra vitae. Mauris vitae tristique magna. Pellentesque viverra posuere ultricies.</p><a href="/" class="btn news__itemBtn">Čítať ďalej</a>
    </div>
    <div class="news__itemContainer">
      <h3 class="news__itemTitle">Lorem Ipsum</h3>
      <h4 class="news_itemDate">21.5.2016</h4>
      <p class="news__itemContent">Maecenas vitae varius magna. Sed ac magna bibendum, auctor enim at, blandit nisi. Morbi gravida malesuada dolor, sit amet mattis mi viverra vitae. Mauris vitae tristique magna. Pellentesque viverra posuere ultricies.</p><a href="/" class="btn news__itemBtn">Čítať ďalej</a>
    </div>
  </div>
</section>