
<aside class="sidebar__container">
  <div id="sidebar__content" class="sidebar__content">
    <div class="sidebar__title">Terra Carpathica</div>
    <ul class="sidebar__nav">
      <li> <a href="aktuality/" class="sidebar__linkMaior">Všetky aktuality</a>
        <ul class="sidebarTagy">
          <li><a href="projekty/" class="sidebar__linkMinor">Projekty</a></li>
          <li><a href="cinnost/" class="sidebar__linkMinor">Činnosť</a></li>
          <li><a href="clanky/" class="sidebar__linkMinor">Články</a></li>
          <li><a href="udalosti/" class="sidebar__linkMinor">Udalosti</a></li>
          <li><a href="vsetky-tagy/" class="sidebar__linkMinor">Všetky tagy</a></li>
        </ul>
      </li>
      <li> <a href="projekty/" class="sidebar__linkMaior linkMaior-padding">Zoznam projektov</a></li>
      <li> <a href="aktuality/" class="sidebar__linkMaior linkMaior-padding">Fotogalérie</a></li>
      <li> <a href="aktuality/" class="sidebar__linkMaior linkMaior-padding">Videogalérie</a></li>
    </ul>
  </div>
</aside>
<div class="index__container">           
  <section id="news__container" class="news__container">
    <h2 class="section__title">Najnovšie aktuality</h2>{% for news in site.categories.news  %}
    <div class="itemContainer {{.news.class}}"><img src="../assets/img/{{news.imgIndex}}" alt="{{news.alt}}" class="news__image"/><a href="{{news.url}}" class="news__contentContainer">
        <h3 class="news__itemTitle">{{ news.title }} </h3>
        <h4 class="news_itemDate">{{ news.date | date: "%d/%m/%Y"}}</h4>
        <p class="news__itemContent">{{ news.excerpt_separator }} </p></a>
      <ul class="news__tags">{% for tag in news.tags %}
        <li><a href="../{{ tag }}" class="news__tag">{{ tag | replace:'-',' ' }}</a></li>{% endfor %}
      </ul>
    </div>{% endfor %}  
  </section>
</div>