/*
   Sass Reset - Converted by Hampton Catlin
   A modification of the original found at...
   http://meyerweb.com/eric/tools/css/reset/
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  background-color: #ededed; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease; }
  a:hover, a:active, a:focus {
    outline: none; }

img {
  display: block;
  width: 100%; }

:root {
  font-family: sans-serif;
  font-size: 12px;
  color: grey; }

h2 {
  width: 100%;
  font-size: 3.815rem;
  padding: 1em 0.5em;
  color: #0d0d0d;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center; }

h3, h4, p {
  width: 100%; }

h3 {
  color: #0d0d0d; }

.btn {
  border: 1px solid grey;
  margin-top: 1em;
  padding: 0.4em 1em;
  -webkit-transition: 0.1s ease-out 0.1s;
  transition: 0.1s ease-out 0.1s;
  color: grey; }
  .btn:hover {
    background-color: grey;
    color: white; }

.wrapper {
  background-color: #ededed; }

header {
  -webkit-box-shadow: 0 3px 3px grey;
          box-shadow: 0 3px 3px grey;
  background-color: white; }

.nav__container {
  width: 65%;
  height: 40px;
  font-size: 1rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.nav__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

.nav__link, .nav__searchIcon {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.nav__link {
  font-size: 1.25em;
  font-weight: bold;
  font-variant: small-caps;
  padding: 0.1em 0;
  margin: 0 0.512em;
  position: relative;
  color: grey; }
  .nav__link:before {
    content: "";
    background-color: grey;
    position: absolute;
    width: 100%;
    height: 0.25em;
    bottom: 0;
    visibility: hidden;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: all 0.2s ease-out 0.1s;
    transition: all 0.2s ease-out 0.1s; }
  .nav__link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: all 0.2s ease-in 0.1s;
    transition: all 0.2s ease-in 0.1s; }

.nav__searchIcon {
  position: relative; }
  .nav__searchIcon svg {
    fill: grey; }

.nav-search {
  padding-left: 1.25em;
  cursor: pointer; }
  .nav-search:hover .nav__searchForm {
    visibility: visible;
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transition-delay: 0s;
            transition-delay: 0s; }

.nav__searchForm {
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  padding: 0.8em;
  background-color: rgba(255, 255, 255, 0.35);
  position: absolute;
  top: 100%;
  right: 0;
  -webkit-transition: 0.1s 0.5s;
  transition: 0.1s 0.5s; }
  .nav__searchForm form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .nav__searchForm button {
    margin-left: 0.8em; }

.banner {
  height: 200px;
  background-image: url("/assets/img/bg1.jpeg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.banner__logo {
  background-color: white;
  min-height: 240px;
  min-width: 240px;
  position: absolute;
  top: -20px;
  left: -120px;
  border: 4px solid black;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 700px) {
    .banner__logo {
      display: none; } }

.header__greenStripe {
  height: 40px; }

.banner__logoContainer {
  position: relative;
  width: 65%;
  margin: 0 auto; }

.news__container, .coworkers__container {
  width: 65%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.news__itemContainer {
  width: -webkit-calc(25% - 1em);
  width: calc(25% - 1em);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5em 0;
  padding: 1em;
  line-height: 1.2;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.1s ease-in 0s;
  transition: -webkit-box-shadow 0.1s ease-in 0s;
  transition: box-shadow 0.1s ease-in 0s;
  transition: box-shadow 0.1s ease-in 0s, -webkit-box-shadow 0.1s ease-in 0s; }
  .news__itemContainer:hover {
    -webkit-box-shadow: 0 0 2px #0d0d0d;
            box-shadow: 0 0 2px #0d0d0d;
    background-color: white;
    -webkit-transition: -webkit-box-shadow 0.1s ease-out 0.1s;
    transition: -webkit-box-shadow 0.1s ease-out 0.1s;
    transition: box-shadow 0.1s ease-out 0.1s;
    transition: box-shadow 0.1s ease-out 0.1s, -webkit-box-shadow 0.1s ease-out 0.1s; }
    .news__itemContainer:hover .news__itemBtn {
      opacity: 1;
      -webkit-transition: opacity 0.9s ease-out 0.1s;
      transition: opacity 0.9s ease-out 0.1s; }

.news__itemTitle {
  font-size: 1.563rem; }

.news_itemDate {
  padding-bottom: 0.5em; }

.news__itemContent {
  font-size: 1rem; }

.news__itemBtn {
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-in 0s;
  transition: opacity 0.1s ease-in 0s; }

.nav-search-is-ready {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1); }
