@import url(https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin,latin-ext);
/*
   Sass Reset - Converted by Hampton Catlin
   A modification of the original found at...
   http://meyerweb.com/eric/tools/css/reset/
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  background-color: #e0e0e0; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  color: grey; }
  a:hover, a:active, a:focus {
    outline: none; }

img {
  display: block;
  width: 100%; }

:root {
  font-family: "Lato", sans-serif;
  font-size: 10px;
  color: #616161; }

h2 {
  width: 100%;
  font-size: 4em;
  font-weight: bold;
  text-align: center; }

h3, h4, p {
  width: 100%; }

h3 {
  color: #0d0d0d; }

.btn {
  padding: 0.4em 1em;
  -webkit-transition: 0.2s ease-out 0.1s;
  transition: 0.2s ease-out 0.1s;
  color: #676767; }
  .btn:hover {
    background-color: #676767;
    color: white; }

.wrapper {
  background-color: #e0e0e0; }

main {
  padding-bottom: 10em; }

.coworkers__wrapper,
.nav__container,
.news__btnContainer,
.newsSubsite__container,
.photoGalleries__container {
  margin: 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media (max-width: 500px) {
    .coworkers__wrapper,
    .nav__container,
    .news__btnContainer,
    .newsSubsite__container,
    .photoGalleries__container {
      margin: 10px auto; } }

header {
  -webkit-box-shadow: 0 2px 3px grey;
          box-shadow: 0 2px 3px grey;
  background-color: white;
  position: relative; }

.nav__container {
  height: 40px;
  font-size: 1rem;
  margin: 0 20px;
  padding: 0 0.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.nav__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.nav__items,
.nav__item,
.nav__link,
.nav__searchIcon {
  height: 100%; }

.nav__link {
  font-size: 1.4rem;
  font-weight: bold;
  font-variant: small-caps;
  padding: 0.1em 0;
  margin: 0 0.512em;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .nav__link:before {
    content: "";
    background-color: grey;
    position: absolute;
    width: 100%;
    height: 0.25em;
    bottom: 0;
    visibility: hidden;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: all 0.2s ease-out 0.1s;
    transition: all 0.2s ease-out 0.1s; }
  .nav__link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: all 0.2s ease-in 0.1s;
    transition: all 0.2s ease-in 0.1s; }

.nav__searchIcon {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .nav__searchIcon svg {
    fill: grey; }

.nav-search {
  padding-left: 1.25em;
  cursor: pointer; }
  .nav-search:hover .nav__searchForm {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0s;
            transition-delay: 0s; }

.nav__searchForm {
  visibility: hidden;
  opacity: 0;
  padding: 0.8em;
  background-color: rgba(255, 255, 255, 0.35);
  position: absolute;
  top: 100%;
  right: 0;
  -webkit-transition: 0.2s 0.5s;
  transition: 0.2s 0.5s; }
  .nav__searchForm form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .nav__searchForm button {
    margin-left: 0.8em; }

.banner {
  height: 200px;
  background-image: url("/assets/img/bg1.jpeg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.banner__logoContainer {
  position: relative;
  margin: 0 20px; }

.banner__logo {
  background-color: white;
  min-height: 240px;
  min-width: 240px;
  position: absolute;
  top: -20px;
  border: 4px solid black;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 700px) {
    .banner__logo {
      display: none; } }

.header__greenStripe {
  height: 40px; }

.index__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.news__container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-right: 2em; }

.section__title {
  padding: 1.5em 1em 1em;
  width: 100%; }

.itemContainer {
  width: -webkit-calc(25% - 20px);
  width: calc(25% - 20px);
  position: relative;
  margin: 0 0 2em 2em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 1px rgba(128, 128, 128, 0.9);
          box-shadow: 0 0 1px rgba(128, 128, 128, 0.9);
  background-color: white;
  cursor: pointer;
  -webkit-transition: border-bottom-color 2s ease-out;
  transition: border-bottom-color 2s ease-out; }
  .itemContainer:hover .news__itemBtn {
    opacity: 1;
    -webkit-transition: opacity 1s ease-out 0.1s;
    transition: opacity 1s ease-out 0.1s; }
  @media (max-width: 1000px) {
    .itemContainer {
      width: -webkit-calc(33.33% - 20px);
      width: calc(33.33% - 20px); } }
  @media (max-width: 800px) {
    .itemContainer {
      width: -webkit-calc(50% - 20px);
      width: calc(50% - 20px); } }
  @media (max-width: 500px) {
    .itemContainer {
      width: -webkit-calc(100% - 20px);
      width: calc(100% - 20px); } }

.border-cinnost, .border-udalosti, .border-projekty, .border-clanky, .border {
  border-bottom: 0.5em solid transparent; }

.border-cinnost .news__itemTitle:hover {
  color: #f44336; }

.border-cinnost.border-is-visible {
  border-bottom: 0.5em solid #f44336; }

.border-udalosti .news__itemTitle:hover {
  color: #795548; }

.border-udalosti.border-is-visible {
  border-bottom: 0.5em solid #795548; }

.border-projekty .news__itemTitle:hover {
  color: #4caf50; }

.border-projekty.border-is-visible {
  border-bottom: 0.5em solid #4caf50; }

.border-clanky .news__itemTitle:hover {
  color: #2196f3; }

.border-clanky.border-is-visible {
  border-bottom: 0.5em solid #2196f3; }

.border.border-is-visible {
  border-bottom: 0.5em solid #f44336; }

.news__image {
  -o-object-fit: cover;
     object-fit: cover; }

.news__contentContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5em;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.news__itemTitle {
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1.1;
  -webkit-transition: color 0.2s ease-out 0.2s;
  transition: color 0.2s ease-out 0.2s; }

.news_itemDate, .news__tags {
  padding-bottom: 0.5em; }

.news_itemDate, .news__itemContent {
  color: grey; }

.news_itemDate {
  font-size: 1.25rem;
  padding-bottom: 0.5em;
  line-height: 1.1; }

.news__itemContent,
.news__tag {
  font-size: 1.25rem;
  line-height: 1.3; }

.news__tags {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.news__tag {
  padding: 0 0.25em 0.15em;
  margin: 0 0.25em 0.25em 0;
  background-color: #676767;
  color: white;
  line-height: 1.1; }
  .news__tag:hover {
    background-color: gray; }

.outer__container {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.sidebar__container {
  width: 260px;
  height: 100vh;
  background-color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 260px;
      -ms-flex: 1 0 260px;
          flex: 1 0 260px; }

.sidebar__content {
  padding-top: 7em;
  -webkit-box-shadow: 0px 0 2px rgba(128, 128, 128, 0.9);
          box-shadow: 0px 0 2px rgba(128, 128, 128, 0.9);
  width: 260px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.sidebar__title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  padding-bottom: 1.333em;
  opacity: 0;
  -webkit-transition: opacity 0.05s linear 0s;
  transition: opacity 0.05s linear 0s; }

.sidebar__linkMaior {
  font-size: 2rem;
  font-weight: bold;
  color: black; }

.linkMaior-padding {
  padding-top: 0.4em; }

.sidebar__linkMinor {
  font-size: 1.5rem;
  padding-top: 0.2em; }
  .sidebar__linkMinor[href^="cinnost/"]:hover {
    color: #f44336; }
  .sidebar__linkMinor[href^="projekty/"]:hover {
    color: #4caf50; }
  .sidebar__linkMinor[href^="clanky/"]:hover {
    color: #2196f3; }
  .sidebar__linkMinor[href^="udalosti/"]:hover {
    color: #795548; }

.photoGalleries__container {
  padding: 0 0.5em; }

.photoGalleries__itemsContainer {
  -webkit-box-shadow: 0 0 1px rgba(128, 128, 128, 0.9);
          box-shadow: 0 0 1px rgba(128, 128, 128, 0.9);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.galleriesItem__figure {
  width: 25%;
  position: relative; }
  @media (max-width: 1000px) {
    .galleriesItem__figure {
      width: -webkit-calc(33.333%);
      width: calc(33.333%); } }
  @media (max-width: 700px) {
    .galleriesItem__figure {
      width: -webkit-calc(50%);
      width: calc(50%); } }
  @media (max-width: 450px) {
    .galleriesItem__figure {
      width: -webkit-calc(100%);
      width: calc(100%); } }

.galleriesItem__figcaption {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.nav-search-is-ready {
  visibility: visible;
  opacity: 1; }

.sidebar-is-fixed {
  position: fixed;
  z-index: 99;
  -webkit-box-shadow: 1px 0 3px rgba(128, 128, 128, 0.9);
          box-shadow: 1px 0 3px rgba(128, 128, 128, 0.9);
  top: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  height: 100vh; }
  .sidebar-is-fixed .sidebar__title {
    -webkit-transition: opacity 0.5s linear 0s;
    transition: opacity 0.5s linear 0s;
    opacity: 1; }
